!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title= current_account.name
    = csrf_meta_tags
  %body
    = render 'default/shared/navigation'
    = yield
