.section
  %p hello world
.pageSection.text-center.flex.flex-row
  .image.h-fit.w-full= content.image_tag :Image
  .m-24
    %h1.text-3xl.font-bold= content.html :Title
    = content.html :Subtitle
    = content.html :Description